.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maplibregl-popup-content {
  max-width: none !important; /* Cho phép nội dung quyết định chiều rộng */
  padding: 0 !important; /* Loại bỏ padding mặc định của MapLibre để padding của bạn có hiệu lực hoàn toàn */
  /* Hoặc bạn có thể đặt một giá trị max-width cụ thể lớn hơn: */
  /* max-width: 350px !important; */
  /* padding: 5px !important; */ /* Nếu bạn muốn giữ lại một chút padding của MapLibre */
}

/* Tùy chọn: Thêm style cho div chính bên trong HTML của bạn nếu cần */
/* Ví dụ, nếu bạn thêm class "weather-popup-container" cho div chính trong popupHTML */
/*
.weather-popup-container {
  background-color: white; // Đảm bảo nền trắng nếu padding của MapLibre bị loại bỏ
}
*/